.gold {
  color: #ffbf00;
}

.product {
  border: 1px solid #dddddd;
  height: 321px;
}

.product > img {
  max-width: 350px;
}

.product-rating {
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
}
.product-brand {
  font-size: 18px;
}
.product-price {
  font-size: 22px;
  font-weight: 700;
  color: #f56e20;
}

.product-info {
  margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
}

.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
}

.view-wrapper {
  float: right;
  max-width: 70%;
  margin-top: 25px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

.detail-item {
  max-width: 350px;
  max-height: 350px;
}
